Telechat comments 2

> It seems the version cited in the document was Withdrawn (Edition 1, 
> 2023). A new version is available: ISO/IEC 23090-12:2025 ISO/IEC 23090-12:2025 - Information technology — Coded representation of immersive media — Part 12: MPEG immersive video Are there changes/implications that need to be echoed in the current spec?
> ## Notes
> ### I’m listing this as a DISCUSS as that reference is not freely available (at least I couldn’t find it) so that I can check the change logs or similar.

We should indeed update the reference to the newer edition, it seems that the second edition is pretty recent. In terms of the updates in edition two, the primary focus of second edition was to improve coding efficiency by introducing new tools for example for coding depth values in video frames and defining patch margins. It seems that the changes are limited to: "colourized geometry, capture device information, patch margins, background views, static background atlases, support for decoder-side depth estimation, chroma dynamic range modification, piecewise linear normalized disparity quantization, and linear depth quantization".

I went through the second edition and it seems that the high level data structures, such as the ones referred in this draft, remain unchanged. So in terms of th updates needed, it looks to me that simply updating the reference to the second version would be sufficient.

> Several conditional parameters are accompanied with narrative text such the following:

> CURRENT:
>   The DONL field, when present, specifies the value of the 16-bit
>   decoding order number of the contained NAL unit.  If sprop-max-don-
>   diff is greater than 0 for any of the RTP streams, the DONL field
>   MUST be present, and the variable DONL for the contained NAL unit is
>   derived as equal to the value of the DONL field.

> The sprop-max-don-diff parameter is not defined (at this stage) and it is really hard to follow. This is event exacerbated as there is not adequate to describe how these parameters are intended to be used and access for encoding/decoding, how this is linked to a session, etc.

> Some more words to explain this is needed, IMO.

I see. Would the following definition help alleviate the concerns:

"The DONL field, when present, specifies the value of the 16-bit decoding order number of the contained NAL unit. The decoding order number indicates the order in which the received NAL units should be reordered to form a bitstream that can be successfully decoded. If sprop-max-don-diff is greater than 0 for any of the RTP streams, the DONL field MUST be present, otherwise the DONL field MUST NOT be present."

I believe similar update to section 5.4.3. would be needed. The derivation of DONL value is provided in detail in section 5.5.

> # Padding
> Please add a note about the RTP padding in the narrative text.

I can add a text like this at the end of 5.4.2, after the Figure 5 in 5.4.3, and after the Figure 7 in 5.4.4:

"The presence of the "OPTIONAL RTP padding" is indicated by the padding (P) bit in the RTP header. As defined in {{RFC3550}} the last octet of the padding contains a count of how many padding octets should be ignored, including itself."

I decided to add the clarification in text rather than as a note, because of the reference to RFC3550. Let me know if you want to reword.

> # Congestion control measure

> CURRENT:
>    If a best-effort service is being used, users of this payload format
>    MUST monitor packet loss to ensure that the packet loss rate is
>    within an acceptable range.

> ## Why is this specific to BE?

I suppose this would apply for many other cases. In this text we only consider BE however. We could remove the "If a best-effort service is being used, " from the beginning of the sentence, if needed. The current text is pretty standard boilerplate text for other NAL-unit based RTP payload specifications such as RFC6184 and RFC7798. Let me know what you prefer.

> ## BTW, if this is BE, how the acceptable rate is known?

The acceptable packet loss rate should really be use case specific, I would say. For one use case 1% packet loss may be unacceptable, whereas for others up to 5% could be acceptable.

> ## How this is supposed to be monitored for the multicast case?

It would be the task of the receivers to monitor their packet loss and report it back to the sender.


> [Med] I'm not suggesting to remove that part (as this is needed to perform the decoding). My suggestion is that before you dig into the description if the fields, you add few sentence that basically says: 

> * Some of the fields described here are conditional (that is, they may not be present) as a function of the values of some relevant parameters.
> * These parameters are listed in Section X. 
> * These parameters are assumed to be available prior to send wire packets.

> Let me know if this is not clear enough.

This sounds reasonable to me. A preamble like this can be added. This is a good suggestion. We'll add the following text before the Figure 4: 

"Some of the fields described here are conditional and their presence is indicated through the relevant parameters as defined in Section 7.2. These parameters are assumed to be made available prior to sending any RTP packets."

 > > # Congestion control measure
> 
> > CURRENT:
> >    If a best-effort service is being used, users of this payload
> format
> >    MUST monitor packet loss to ensure that the packet loss rate
> is
> >    within an acceptable range.
> 
> > ## Why is this specific to BE?
> 
> I suppose this would apply for many other cases. In this text we only 
> consider BE however. We could remove the "If a best-effort service is 
> being used, " from the beginning of the sentence, if needed.

> [Med] The text should reflect that. It is really not clear why is this not applicable to other class of services, PDBs.

[Lauri] We'll then remove the restriction from the beginning of the sentence.

 
> > [Lauri] This would likely be another implementation specific 
> > decision made independently by the receiver or the sender.
> > Receiver can choose to quit the stream if the packet loss becomes an 
> > issue. At the same time, the sender could decide to drop a receiver, 
> > if the reports it receives indicate unacceptably high packet loss in 
> > its view.

> [Med] I ack this may left to an implementation, however, I do see a value if these are provided as examples (no recommendations).

We could add the following clarification under Section 8. The text is provided as an example without making a recommendation. 

"As an example, both the sender and the receiver may have their own definition for an acceptable packet loss rate. In such a case the receiver may decide to quit a stream when it finds the packet loss rate too high. Similarly the sender may decide to drop a receiver when the reports it receives indicate packet loss rates that are too high from its perspective. These decisions may be made independently either by the receiver and or the sender."

> > [Med] I may be missing some pieces here but, assuming a multicast 
> > distribution tree is in place, loss may happen in parts of the 
> > distribution tree. The sender may not have the full visibility of 
> > that distribution.
> 
> [Lauri] This is an interesting question. I think there may be 
> solutions for this, but these would perhaps go beyond what an RTP 
> payload specification would need to cover.

> [Med] CC should ideally cover both as unicast and multicast cases are discussed in the spec, but I think I would be fine if we simply state that applicability to multicast case is out of scope. Would that be OK with you?

That sounds reasonable to me. I can add a sentence at the end or beginning of CC section: 

"This section only applies for unicast streaming, leaving considerations for multicast streaming out of scope."
