Attribute registration feedback


1) The attribute-syntax should provide additional details on the format of the byte-string. Based on the later example, it seems each entry in the semi-colon separated list follows the fmtp format of "name=value", however it should be clarified here. Also, use of white-space should be clarified. 

2) The offer/answer considerations are lacking. There needs to be additional procedures describing how the paramter is used in offer/answer, and in particular whether values are declarative (each side declares values independently and if so which direction do they apply to, i.e. send or receieve) or negotiated (i.e. the two sides need to agree on the values, and if so, do they need to be identical). For further offer/answer details, refer to RFC 3264. RFC 9071 provides example offer/answer considerations as well. 


The further feedback received is addressed in #46 


> a) The current text suggests the answerer may simply omit media lines, however that is not compliant with RFC 3264, which states you set the port to 0. 

Text was updated to clarify that removing the media lines is done by setting the port to zero in the answer. E.g.,
- * remove media line in which one or more of the parameter values are not supported.
+ * remove media line in which one or more of the parameter values are not supported by setting the port to zero in the answer.

> b) The text uses the term "receiver" in a few instances instead of the proper term "answerer". 

Proper terminology was updated through-out the Offer and answer considerations section. 

> c) The multicast text suggests the answerer could choose a different payload type. While RFC 3264 does not explicitly state that it MUST NOT, it is difficult to see how that would work in practice, as alluded to in RFC 3264 Section 6.2. 

I’ve added more restrictions for setting the payload type in the answer, proposing to keep the same payload types. I hope this is more practical. 

- * To simplify the handling and matching of these configurations, the same RTP payload type number used in the offer SHOULD also be used in the answer, as specified in {{RFC3264}}. An answer MUST NOT contain a payload type number used in the offer unless the configuration is the same as in the offer.
+ * To simplify the handling and matching of these configurations, the same RTP payload type number used in the offer MUST also be used in the answer.
