Registration of media types

Send the anticipated registration of the application/v3c media type to the media-types mailing list as described in https://wiki.ietf.org/group/art/TypicalARTAreaIssues

Marius kindly requested this already: https://mailarchive.ietf.org/arch/msg/media-types/uGgT__LURCJyeg_VTLyPvk8eRkc/

Some feedback from IANA:

> Encoding considerations: This type is only defined for transfer via RTP [[RFC3550](https://www.ietf.org/archive/id/draft-ietf-avtcore-rtp-v3c-08.html#RFC3550)].

Update with valid values as listed in RFC 6838 Section 4.8.

> Security considerations: Please see [Section 11](https://www.ietf.org/archive/id/draft-ietf-avtcore-rtp-v3c-08.html#Security-considerations).

Make sure that the question RFC 6838 poses about executable content is answered.

> Person & email address to contact for further information:

Update with author details.

> The optional parameters are defined as: (from https://www.ietf.org/archive/id/draft-ietf-avtcore-rtp-v3c-08.html#name-optional-parameters-definit)
[...]

This bit isn't necessary (or part of the template); the referenced published specification is sufficient. As such this part can be removed. 



