AD Review Feedack (4)

(4) Congestion control
- I found the following text is not clear, but it does seem to be a suitable basis for describing

the needs for congestion control.
- It is not sufficient to /monitor/ some threshold ought to be indicated and an action that must be taken, so I'd like to undestand the threshold and the action required.

I include below a suggestion for improved text, but other text could also be considered - depending on the specific needs of this I-D. Please let me know how you may wish to proceed.

OLD:

    Congestion control for RTP SHALL be used in accordance with
    [RFC3550], and with any applicable RTP profile: e.g., [RFC3551].  An
    additional requirement if best-effort service is being used is users
    of this payload format MUST monitor packet loss to ensure that the
    packet loss rate is within acceptable parameters.

    Simple bitrate adaptation for congestion control can be achieved when
    real-time coding is used for V3C video components, where quality
    parameter can be adaptively tuned.  Video coding specifications MAY
    define further adaptation techniques.

    Circuit Breakers [RFC8083] is an update to RTP [RFC3550] that defines
    criteria for when one is required to stop sending RTP Packet Streams.
    The circuit breakers is to be implemented and followed.

SUGGESTED:

    Congestion control for RTP SHALL be used in accordance with RTP
    [RFC3550] and with any applicable RTP profile, e.g., AVP [RFC3551].

    If a best-effort service is being used, users of this payload format
    MUST monitor packet loss to ensure that the packet loss rate is
     within an acceptable range.  Packet loss is considered acceptable
    if a TCP flow across the same network path, and experiencing the
    same network conditions, would achieve an average throughput,
    measured on a reasonable timescale, that is not less than that of
    the RTP flow (see section 10 of [RFC3550]).

    This condition can be satisfied by implementing congestion-control
    mechanisms to adapt the transmission rate. A simple bitrate
    adaptation for congestion control can be achieved when real-time
    coding is used for V3C video components, where quality parameter
    can be adaptively tuned. Video coding specifications MAY define
    further adaptation techniques.

    An alternative method is to arrange for a receiver to leave the
    session if the loss rate is unacceptably high, for example using
    a Circuit Breaker [RFC8083] that defines criteria for when one
    the RTP flow must stop sending RTP Packet Streams.

- If it is appropriate, I think it could also be useful to add some text
   that notes that quality layers could be removed to reduce the
   rate of the RTP flow.

***

Second  I note the following (mostly minor) editorial issues that I would like to see addressed in the revised-ID:
--

The following sentence is missing a period at the end:

Set and used in accordance with [RFC3550]
--
The following sentence is missing a period at the end:
    Synchronization source (SSRC): 32 bits
--
In Section1:
V3C encoder converts
- Please insert /A/ before /V3C/.
--
I think 4.2.  V3C parameter set ought to be normative.
--
I think these are specified, this will be PS:
    While this memo intends to describe encapsulation of V3C atlas data,
    aspects related to signalling of V3C parameter set are also
    considered.
I suggest instead:
    This document specifies an encapsulation of V3C atlas data.
    Aspects related to the signalling of V3C parameter set are also
    considered.
---
V3C parameter set may be
- insert /The/:
The V3C parameter set can be
--
This memo provides information on how a V3C parameter set may be signalled as part of session description protocol, see Section 9.
- These are specified, this will be PS.
- I suggest:
Section 9 of this document specifies how a V3C parameter set can be signalled using the session description protocol.
--
In V3C bitstream the atlas component
- Please insert /the/ before /V3C/
--
By mapping V3C parameter set information
- Please insert /the/ before /V3C/
--
NUT value could carry other meaning depending on the RTP packet type.
- Please insert /The/ before /NUT/.
--
nal_layer_id as specified in [ISO.
- Please insert /The/ before /nal_layer_id/.
--
nal_temporal_id_plus1 minus 1 as specified in [ISO.IEC.23090-5]
    defines a temporal identifier for the NAL unit.
- Please insert /The/ before /nal_temporal_id_plus1/.
--
and following conditional fields
- Please insert /the/ before /following/.
--
The rest of the payload data contain
- /contain/contains/
--
Single NAL unit packet MUST only
- /Single/A single/
--
RTP payload header MUST
- Please insert /The/ before /RTP/
--
This text:
    A NAL unit stream composed by de-packetizing single NAL unit packets
    in RTP sequence number order MUST conform to the NAL unit decoding
    order, when DONL is not present.
Appears to be related to the following para that says:
    The DONL field, when present, specifies the value of the 16-bit
    decoding order number of the contained NAL unit.  If sprop-max-don-
    diff is greater than 0 for any of the RTP streams, the DONL field
    MUST be present, and the variable DONL for the contained NAL unit is
    derived as equal to the value of the DONL field.  Otherwise (sprop-
    max-don-diff is equal to 0 for all the RTP streams), the DONL field
    MUST NOT be present.

- Is it possible that these two could be merged - so that the presence of the DONL field is discussed in one place?
--
Aggregation packets MAY be used wrap multiple NAL units belonging to the same access unit in a single RTP payload.
- This does not read correctly, is it missing a /to/ or something before the /be/ ?
--
The first two bytes of
the AP MUST contain RTP payload header.
- Please insert /the/ before /RTP/.
--
AP MAY contain a conditional
- Please insert /An/ before /AP/.
--
AP MUST contain two or more
- Please insert /An/ before /AP/.
--
The structure of AP is shown in Figure 5.
- Please insert /an/ before /AP/.
--
The F bit MUST
    be equal to 0 if the F bit of each aggregated NAL unit is equal to
    zero; otherwise, it MUST be equal to 1.
- To be clear, does this mean that F=1 if any F bit has a non-zero value?
--
AP MUST carry at least two
- Please insert /an/ before /AP/.
--
A FU consists of an RTP payload header
- /A/An/
--
V3C coded content consist of metadata
/consist/consists/
--
negotiation offerer lists different V3C components (
- Please insert /the/ before /offerer/.
--
and informs which medial lines SHOULD be consumed together
- informs who?
--
    This freedom allows receiver to consume subset of the V3C coded media
- Please insert /the/ before /receiver/.
- Please insert /a/ before /subset/
--
in scenarios, where
- Please remove comma after /scenarios/
--
An example of offer which only sends V3C content.
- Please insert /an/ before /offer/
--
An example of answer which only
- Please insert /an/ before /answer/
- /which/that/
--
To avoid potentially missing this in Section 9.1, 10.2 and 10.3:
Please could you change the statement to “RFC-ED” insteda of an editorial note for this:
    NOTE: (informative) "this memo" to be replaced with the RFC number,
    once it becomes available.

e.g.,

    RFC-EDITOR: Please replace "this memo" with the published RFC number.

