Tsvart review

This document has been reviewed as part of the transport area review team's ongoing effort to review key IETF documents. These comments were written primarily for the transport area directors, but are copied to the document's authors and WG to allow them to address any issues raised and also to the IETF discussion list for information.

When done at the time of IETF Last Call, the authors should consider this review as part of the last-call comments they receive. Please always CC [tsv-art@ietf.org](mailto:tsv-art@ietf.org) if you reply to or forward this review.

High level issue:

I think this document is not clear enough on the different alternatives that is actually supported for transmitting the ATLAS data and the component video data.

Section 4.1 gives the impression that one can combine all data needed for one V3C represenation into a single video stream, i.e. being sent over a single RTP SSRC.

Section 9.2 instead talks about how to have seperate V3C with the atlas data, and then component video streams over other RTP streams (SSRC).

For the later there exists a plentora of possible multiplexing models. With what is being defined in section 9.2-9.4. With the defined grouping of V3C one can clearly do both RTP session based multiplexing as well as bundled. The examples in Section 9.3 appears to indicate that one need uniquie media lines in SDP per complete V3C representation and that one can't setup one media line per type and simple use multiple SSRC in each one complete set across the media line to generate one media representation? Or even by just establishing one payload type per type and then use RFC 5576 ssrc-group to indicate a set of SSRCs that are part of one representation. Wouldn't it make sense to have a ssrc-group for V3C?

Having read the document I think there is a need for a dedicated section that defines which combinations that are possible and what external from RTP/RTCP support these needs in providing the grouping.

Can you confirm that you have not identified anyway of using RTP/RTCP mechanisms that exist to identify the set of SSRCs that are part of one representation?

Another significant issue is the one for Section 8: regarding bit-rate adaptation for this payload format and its component stream.

Section 7.1:

Published specification: Please refer to [ISO.IEC.23090-5]

I think this needs to indicate the RFC that defined the RTP payload format, as that is the specification for which the media type is being registered.

Restrictions on usage: N/A

I think the recommened text from RFC 8088 for this field still applies:

This media type depends on RTP framing and, hence, is only defined
      for transfer via RTP [RFC3550].  Transport within other framing
      protocols is not defined at this time.

Section 8:

Due to how the full media representation when using V3C is dependent on having both the ATLAS as well as the component video streams the response to congestion control limitations are far from trivial. I think some clarification to the implementer here is needed on how it should behave when forced to reduce the aggregate bandwidth and how to consider inter stream prioritization. This issue is clearly different from what scalable video codecs encounter when being bandwidth limited where it is usually clear how to reduce the bit-rate.

Section 9.

Please add a reference to RFC 8866 in the first sentence.

Section 9.1:

I would recommend that one are clear that "byte-string" is using the definition that exists in RFC 8866.

Section 11:

I think this format needs an additional security consideration due to the grouping. That is that for correct decoding the signalling system needs to correctly indicate the combination of the V3C Atlas stream and the component streams. If an attacker is able to manipulate this information the senders intention will not be represented.

Secondly:

This RTP payload format and its media decoder do not exhibit any significant non-uniformity in the receiver-side computational complexity for packet processing, and thus are unlikely to pose a denial-of-service threat due to the receipt of pathological data. Nor does the RTP payload format contain any active content.

If I manipulate the ATLAS information can I significantly increase the decoding information. For example forcing magnitude more iterations over the underlying component video stream data to create the Volumetric representation?

Hi Magnus, 

I appreciate the suggestions. Trying to quickly address the most important topics you raise. 

> 1.Security considerations: As you reply in worst case managing to instruct the endpoint to combine the wrong streams could result in at minimal the incorrect produced output, it may also crash the decoder. Thus, I think the security considerations needs a bit more than the standard boiler plate here and be explicit about the need to be able to trust the signalling for which streams to combine into one output, as well as the need for having source authentication on all the streams that are used as input when decoding. 

This is why we recommend (with a SHOULD) to use the appropriate strong security mechanisms as described in RFC7201. We make this recommendation even though it is generally not the payload format's responsibility  to mandate what solutions are used to meet the security goals. To further address your concern however, would adding the following text in Section 11 help: 

"V3C bitstreams can consist of multiple sub-streams of data and as such the security considerations like the source authentication SHOULD be applied to all its constituent sub-streams. All receivers of V3C data SHOULD exercise source caution and only receive data from senders that they can trust."

I think this gives a pretty clear recommendation, without forcing a specific implementation. 


> 2.When it comes to the congestion control considerations I would note that also here it appears to needs a bit of discussion about the need to consider the full aggregate when adapting the bit-rates to ensure that the adaptation results in a proportional quality degradation, and not a much larger due to adapting the wrong stream. 

We've discussed the congestion control aspects with other reviewers and have agreed to amend the draft with the following improvements:

"As an example, both the sender and the receiver may have their own definition for an acceptable packet loss rate. In such a case the receiver may decide to quit a stream when it finds the packet loss rate too high. Similarly the sender may decide to drop a receiver when the reports it receives indicate packet loss rates that are too high from its perspective. These decisions may be made independently either by the receiver and or the sender."

"This section only applies for unicast streaming, leaving considerations for multicast streaming out of scope."

We could further provide another example, that should alleviate the concerns. Would adding the following text in Section 8. help alleviating your concerns?

"As an example of a bitrate adaptation technique, a sender or a receiver may adapt bitrates of specific sub-streams. The adaptation should be done in a manner that effects the quality of the experience as a whole, and keeping subjectively the quality of experience as high as a intended. In an implementations this could mean dropping less important sub-streams as a whole, or reducing the bitrates of the most important sub-streams throughout the session." 

> When it comes to the general multiplexing description, including using SSRC grouping I think addressing this will have some significant impact on the time to publish this document. If that is worth it would be highly dependent if there exists usage of this that would benefit from that description. However, as you have a BUNDLE case it might be fine for the initial usage. Thus, it might be simpler to just go ahead for now, and if the actual deployments runs into use cases with need to more clearly express things for example multiple sources per direction in the same set of RTP session(s) then extensions may be warranted. 

I agree, timeline-wise this could affect the publication. This could be further discussed later on. It might be just clarifying how existing tools can be used. 

> I still think this draft could have benefited from an additional architectural section between Section 4 and 5 that would have discussed how RTP sessions vs streams (SSRCs) are best used for some use cases. I think that would have simplified the rest of the description. 

Maybe we should put this on the list of potential further improvements. I've tried to keep the format of the payload specification as close to other NAL unit based RTP payload formats.

I hope this helps to resolve your remaining concerns. 

Kind Regards,
-Lauri
