Telechat comments

> ##DISCUSS

> And, special thanks to Stephan for the historical background. This addresses my DISCUSS on section 5.4.2 (noting that some explanation would be welcome), but I still think that sections 5.3 and 5.4.3 must be coherent with respect to the F bit, i.e., I am keeping my DISCUSS open on this point (note that repeating the text of section 5.4.3 in section 5.3 would be enough).

Ok, I think I see what you mean. Would it help if we updated the syntax in 5.3 as follows: "F: the nal_forbidden_zero_bit as specified in [ISO.IEC.23090-5] is equal to 0. A value equal to 1 indicates that the payload may contain errors or syntax violations."

> ## COMMENTS (non-blocking)
> ### Abstract
> Unsure what `Internet Standards` means. Also, actual references are usually not used in the abstract, i.e., plain "ISO.IEC.23090-5" would be better.
 
V3C video components, i.e. sub-bitstreams, are regular 2D video bitstreams. IETF have defined RTP payloads for these video bitstreams in specific RFCs. Should I update the text into something like this: ‘The RTP payload format for V3C video sub-bitstreams is defined by the relevant IETF RFC for the applicable video codec.’?``

EV> yes please
 
I can remove the actual references from the abstract.
 
> ### Section 1
> For the non-expert, it would be nice if "volumetric video" was explained (I hint it is 3-dimensional videos but not sure). Only the 2nd paragraph explains it, it would be nicer to be upfront in the 1st paragraph.
 
Agreed. We could be more upfront with definition. I could add the following sentence right after the first sentence: “It (volumetric video) enables capture of an object or scene in three dimensions (3D) and its playback independent from the original capture position(s) or orientation(s).”
 
> ### Section 2
> Please remove the 1st redundant (and outdated) paragraph.
 
Will be done.

> ### Section 4.1
> Please explain what a `voxel` is (even if I guess that this is a 3D pixel).
 
I can add the following definition after the sentence on voxels: “A voxel is the smallest discrete addressable element in a 3D space, analogous to a pixel in 2D.”

EV> yes please
 
> ### Section 4.4
> Should there be an informative reference for DASH?
 
Similar to the previous paragraph and informative ISOBMFF reference, it might make sense to add informative reference to DASH as well. Nice catch, I can add that.
 
> ### Section 5.2
> What is 'this' in `according to this RTP payload` ? RFC 3550 or this I-D ?
 
‘this’ refers to this I-D. ‘that’ refers to RFC3550. Let me know if I should clarify the relationship.

EV> yes, please clarify, I prefer 'heavy redundancy' to ambiguity.
 
> ### Section 7
> Is there a reason why the media type registration is not in the IANA considerations section ? Having section 10.1 pointing to section 7 is highly unusual.
 
The media type registration was done similarly to RFC7798 (HEVC) and RFC6184 (AVC) I-Ds. I’m honestly not sure of the reason of splitting the text in this way. Let me know, if you strongly prefer moving all media type registration related text into section 10.1. It can be done.   
 
EV> let's see what the other AD write and whether IANA prefers one way or the other.

> Same reasoning for section 9.1
 
Same explanation as above. Open for changes.


