Update normative references

It seems like, RFC6184, RFC6190 and RFC7798 should be informative, as they are only used for examples.
Also some of the references used only in the security considerations could be informative.
